{% extends '_parent.html' %}

<html>
	<header>
		{% block title %}Home{% endblock %}
		</header>
	<body>			
		{% block navigation %}
		<button type="button" class="btn btn-primary" onclick="location.href='/home'">Home</button>
		<button type="button" class="btn btn-secondary" onclick="location.href='/bid'">Bid</button>
		<button type="button" class="btn btn-secondary" onclick="location.href='/sell'">Sell</button>
		<button type="button" class="btn btn-secondary" onclick="location.href='/history'">History</button>
		{% endblock %}
		{% block content %}
		
{% if variable_login %}
    <div id="some_flag" title="Some Flag">
        <input class="form-control bg-warning" readonly type="text" placeholder="Output Message: Successfully logged in">
		<!-- <div type="text"> {{name}} </div> -->
    </div>	
{% endif %}

{% if variable_default %}
    <div id="some_flag" title="Some Flag">
        <input class="form-control bg-warning" readonly type="text" placeholder="Output Message:">
    </div>	
{% endif %}

{% if variable_item_saved %}
    <div id="some_flag" title="Some Flag">
        <input class="form-control bg-warning" readonly type="text" placeholder="Output Message: Item was successfully saved">		
    </div>	
{% endif %}

{% if variable_item_unsaved %}
    <div id="some_flag" title="Some Flag">
        <input class="form-control bg-warning" readonly type="text" placeholder="Output Message: Wrong credentials">		
    </div>	
{% endif %}

		
				<div class="card text-center">
  <div class="card-header">
    News
  </div>
  <div class="card-body">
    <h5 class="card-title">Latest Software Update</h5>
    <p class="card-text">Due to popular demand, latest update shows the history of all you're bidding history of an item that was sold.
	Any unforseen issues or bugs can be reported by emailing <a href="mailto:support@CCBidders.com">support@CCBidders.com</a></p>
	<BR><BR><BR>
    <h5 class="card-title">Coming Soon</h5>
	<p class="card-text"> 
  Searchable items by ID reference
  <br>Create a watch list of open bid items
  <br>Sign in with your email to receive notifications before expiring items</p>
  </div>
</div>
		{% endblock %}		
	</body>
	</html>