
<html>
	<header>
		<title>Bidders</title>
		<!-- BootstrapCDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</header>
	<body>
	<div class="container h-100">
	  <div class="row h-100 justify-content-center align-items-center">
	  


		<form method="post" action="/authentication/register/" class="col-5">
		{% csrf_token %}
		
		<div  class= "card text-white bg-dark p-3" >
			  	    <!-- <div class="card-header"><h5 class="card-title">What are you waiting for!</h5></div> -->
		  <div class="card-body">
    <h5 class="card-text">Something amazing is about to happen!</h5>
  </div>
		
			<div class="form-group">
				<input type="text" class="form-control" name="username" id="username" placeholder="username" maxlength= "50" required >
			</div>
  <div class="form-group">
    <input type="password" id="password" name="password" placeholder="password" class="form-control">
    <small id="passwordHelpInline" class="text">
      Must be contain alphanumeric numbers, at least 8 characters long.
    </small>
  </div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" name="register" class="btn btn-primary">Sign up</button>
				</div>
			</div>
		</form>
		
		</div>
		</div>
		</div>
		
		
	</body>
</html>