{% extends '_parent.html' %}

<html>
	<header>
		{% block title %}Sell{% endblock %}
		</header>
	<body>			
		{% block navigation %}
		<button type="button" class="btn btn-secondary" onclick="location.href='/home'">Home</button>
		<button type="button" class="btn btn-secondary" onclick="location.href='/bid'">Bid</button>
		<button type="button" class="btn btn-primary" onclick="location.href='/sell'">Sell</button>
		<button type="button" class="btn btn-secondary" onclick="location.href='/history'">History</button>
		{% endblock %}
		{% block content %}
				<div class="card text-center">
  <div class="card-header">
    Sell
  </div>
  
  <div class="card-body">
 

	
	
	{% endblock %}	
  </div>
</div>
	</body>
	</html>
	
	
	
	
	
	
	
	<form method="post" action="/authentication/token/">{% csrf_token %}<button type="submit" class="btn btn-secondary">Home</button></form>